* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(155, 208, 255);
}

header {
  background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);
  height: 60px;
}

header h1 {
  text-align: center;
  color: rgb(38, 38, 104);
  padding-top: 10px;
}

main {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  justify-content: space-between;
}

.card,
.history {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
}

.history {
  border-top: solid gray;
}

.card label {
  color: rgb(38, 38, 104);
  font-size: 30px;
  margin-bottom: 5px;
}

.card input {
  border-radius: 2%;
  margin-bottom: 5px;
  height: 30px;
}

.card button {
  margin-bottom: 5px;
  height: 30px;
  background-color: #7ee8fa;
}

.city-display {
  margin: 10px;
  flex-grow: 30;
  height: 500px;
}

.current-city {
  border: solid rgb(38, 38, 104);
  height: 160px;
  margin-bottom: 5px;
}

.five-day-forecast {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 250px;
  margin-top: 5px;
}
.five-day-forecast div {
  background-color: rgba(27, 126, 255, 0.438);
  height: 180px;
  flex-basis: 15%;
}
.history button {
  margin-bottom: 5px;
  margin-top: 5px;
  height: 30px;
  background-color: lightgrey;
}

.current-city p, h2, .five-day-forecast h2 {
  padding-left: 5px;
  margin-bottom: 10px;
  color: rgb(38, 38, 104)
}

.five-day-forecast h2 {
  flex-basis: 100%;
}

.five-day-forecast div p, .five-day-forecast div h3 {
  padding-left: 5px;
  margin-bottom: 10px;
  color: rgb(38, 38, 104)
}